fastapi==0.103.2
uvicorn==0.22.0
python-dotenv==0.21.1
httpx>=0.24.1,<0.26.0
pydantic>=2.4.2,<3.0.0
python-multipart==0.0.6
supabase==0.7.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
certifi==2023.11.17
cryptography==41.0.5
postgrest==0.10.4
gotrue==1.1.0
realtime==1.0.0 